<template>
  <amplify-authenticator></amplify-authenticator>
</template>

<script lang="ts">
import Vue from 'vue';
import { Auth } from 'aws-amplify';

export default Vue.extend({
  async beforeCreate() {
    try {
      await Auth.currentSession();
      if (this.$route.path !== '/todo') this.$router.push('/todo');
    } catch (error) {
      // 認証失敗
    }
  },
});
</script>
