<template>
  <div>
    <section>
      <form @submit.prevent="addTodo">
        <label for="">
          新しいTodo
          <input type="text" v-model="newTodo" />
        </label>
        <button>登録</button>
      </form>
    </section>
    <hr />
    <section>
      <table>
        <thead>
          <tr>
            <th>No.</th>
            <th>内容</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(todo, index) in todos" :key="todo.id">
            <td>{{ index + 1 }}</td>
            <td>{{ todo.content }}</td>
            <td>
              <button class="button__delete" @click="deleteTodo(todo.id)">削除</button>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
</template>

<script lang="ts">
import { createTodo, deleteTodo } from '@/graphql/mutations';
import { listTodos } from '@/graphql/queries';
import { onCreateTodo, onDeleteTodo } from '@/graphql/subscriptions';
import { API, Auth } from 'aws-amplify';
import Vue from 'vue';

type Todo = {
  id: string;
  content: string;
  isCompleted: boolean;
  createdAt: string;
};

// eslint-disable-next-line max-len
async function supportGraphQLForTypeScript(username: string, query: string, contentOfSubscriptionNext?: () => {}) {
  const graphqlResult = await API.graphql({ query, variables: { owner: username } });
  if ('data' in graphqlResult) {
    return (graphqlResult.data as any).listTodos.items;
  }
  if ('subscribe' in graphqlResult && !!contentOfSubscriptionNext) {
    graphqlResult.subscribe({
      next: async () => {
        await contentOfSubscriptionNext();
      },
    });
    return null;
  }
  return graphqlResult;
}

export default Vue.extend({
  name: 'Todo',
  data() {
    return {
      username: '',
      newTodo: '',
      todos: [] as Array<Todo>,
    };
  },
  async mounted() {
    this.username = (await Auth.currentUserInfo()).username;
    this.getTodos();
    this.subscribe();
  },
  methods: {
    async addTodo() {
      if (!this.newTodo) return;
      const todo = { content: this.newTodo, isCompleted: false };
      await API.graphql({
        query: createTodo,
        variables: { input: todo },
      });
      this.newTodo = '';
    },
    async deleteTodo(id: string) {
      await API.graphql({
        query: deleteTodo,
        variables: { input: { id } },
      });
    },
    async getTodos() {
      this.todos = await supportGraphQLForTypeScript(this.username, listTodos);
    },
    async subscribe() {
      const contentOfSubscriptionNext = async () => {
        this.todos = await supportGraphQLForTypeScript(this.username, listTodos);
      };
      supportGraphQLForTypeScript(this.username, onCreateTodo, contentOfSubscriptionNext);
      supportGraphQLForTypeScript(this.username, onDeleteTodo, contentOfSubscriptionNext);
    },
  },
});
</script>

<style>
.button__delete {
  background-color: red;
  border: none;
  padding: 0.5rem 1rem;
}
</style>
