<template>
  <div id="app">
    <header id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link> |
      <router-link v-if="!isSignedIn" to="/signin">Sign In</router-link>
      <span v-else>
        <router-link to="/todo">Todo</router-link> |
        <a @click="signOut">Sign Out</a>
      </span>
    </header>
    <hr />
    <main>
      <router-view/>
    </main>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { AuthState, onAuthUIStateChange } from '@aws-amplify/ui-components';
import { Auth } from 'aws-amplify';

export default Vue.extend({
  data() {
    return {
      isSignedIn: false,
    };
  },
  methods: {
    async signOut() {
      await Auth.signOut();
    },
  },
  mounted() {
    Auth.currentSession().then(() => {
      this.isSignedIn = true;
    }).catch(() => {
      this.isSignedIn = false;
    });
    onAuthUIStateChange((nextAuthState, authData) => {
      this.isSignedIn = nextAuthState === AuthState.SignedIn;
      if (nextAuthState === AuthState.SignedIn && this.$route.path !== '/todo') {
        this.$router.push('/todo');
      } else if (!authData && this.$route.path !== '/signin') {
        this.$router.push('/signin');
      }
    });
  },
});
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
  text-decoration: underline;
  cursor: pointer;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
